body {
    background-image: url(images/grey\ splat.jpeg);
 }
 
 #container {
     margin: 0 auto;
     width: 860px;
     margin-bottom: 20px;
     margin-top: 30px;
 }
 
 /* background color  */
 #profile {
     background: rgba(128, 0, 0, 0.877);
     border-image: url(images/ights-background.jpg);
     background-position: center bottom;
     background-repeat: repeat-x;
     /*  overflow hidden so that we dont get x and y axis */
     overflow: hidden;
 }
 /* getting info about me to float left according to my cheetah pic */
 .about {
     float: left;
     margin-top: 30px;
     width: 490px;
     margin-left: 20px;
     filter : drop-shadow(0 0 5px #000);
 }
 /* putting saddle image behind my immage */
 .about .photo-inner {
     float: left;
     background: url(images/photo-inner.png) no-repeat;
     height: 200px;
     width: 160px;
     padding: 12px 0 0 19px;
     margin-left: 24;
     
 }
 
 .about h1{
    font-weight: 900; 
    color: white;
    line-height: 34px;
    margin-top: 8px;
    margin-left: -20px;
 }
 
 .about h3 {
     margin-top: 5px;
     font-size: 18px;
     color: white;
     line-height: 18px;
     font-family: 'Oswald', sans-serif;
 }
 
 .about p {
     font-size: 14px;
     margin-top: 15px;
     color: white;
     font-weight: 400;
     line-height: 24px;
     font-weight: 'Roboto Condensed', sans-serif ;
 }
 /* where i float my personal information next to my name bday, etc */
 .personal-info {
     float: left;
     margin-top: 30px;
     width: 310px;
     min-height: 230px;
     margin-left: 10px;
     background: url(images/personal-info-sep.png) no-repeat left top;
     padding: 20px 0 19px 20px;
 }
 
 .personal-info li {
     line-height: 12px;
     font-size: 14px;
     margin-bottom: 10px;
     overflow: hidden;
     float: left;
     width: 293px;    
 }
 
 .personal-info li label {
     color: white;
     float: left;
     padding: 4px 7px;
     font-weight: 550px;
     border-radius: 3px;
     text-transform: uppercase;
     font-family: 'Roboto Condensed', sans-serif;
 }
 .personal-info li span {
     float: right;
     width: 220px;
     padding-top: 4px;
     font-weight: 400;
     color: white;
     font-family: 'Roboto Condensed', sans-serif;
     text-transform: uppercase;
 }
 
 header {
     position: relative;
     overflow: visible;
 
 }
 /* button for my profiles */
 span.socials-text {
     position: absolute;
     right: 0px;
     color: white;
     padding: 2px 9px;
     font-size: 22px;
     cursor: pointer;
     top: 10px;
     border-radius: 70px;
 }
 
 
 ul.socialicons {
     opacity: 0;
     top: -1px;
     position: relative;
     transition: all ease 1s;
     z-index: -1;
     left: -7px;
 }
 
 /* what i commeted it out and just put in notes */
 
 
 
 
 /* styling our button that contains links */
 .pulse-button {
     position: relative;
     width: 35px;
     height: 35px;
     line-height: 15px;
     border: none;
     box-shadow: 0 0 0 0 rgb(101, 100, 100);
     background-color: rgba(128, 0, 0, 0.877);
     cursor: pointer;
     color: white;
     font-size: 20px;
 }
 
 
 
 /* changing the size of our menu that contains icons */
 .menu {
     height: 100px;
     background-color: #ededed;
     position: relative;
     padding-left: 130px;
     padding-right: 130px;
 
 }
 
 
 /* height of nav bar */
 .tabs {
     height: 117px;
     position: absolute;
     margin-top: -14px;
     z-index: 100;
 }
 /* what i added to get icons to display in line */
 
 
 
 /* contains all the icons in menu to adjust height and width and space*/
 
 .tabs li > a {
     padding-top: 28px;
     width: 115px;
     display: inline-block;
     background-repeat: no-repeat;
     font-size: 15px;
     color: grey;
     text-align: center;
     font-weight: 580px;
     text-transform: uppercase;
     font-family: 'Roboto Condensed', sans-serif;
     line-height: 35px;
     text-decoration: none;
     margin-right: 35px;
 }

/* what i added to display icons */
 .tmenu {
     float: left;
 }

.linkedin {
    color: white;
}

.github {
    color: white;
}

 .tabs li.active {
     background: url(images/tab-hover.png) no-repeat;   
 }
/* where the menu you click turns active */
 .tabs li.active a {
     color: rgba(128, 0, 0, 0.877);
 }


 a.tab-profile.active i {
     animation: bounce 2s infinite;
 }
 @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%{
        transform: translateY(-0px)
    }
    59% {
        transform: translate(-10px)
    }
}



 .tabs li > a > i {
     font-size: 45px;
     display: block;
     margin-bottom: 5px;
 }
 
 
 
 #logo {
     float: left;
     overflow: hidden;
     margin-left: 10px;
     display: none;
 }
 
 #logo h4 {
     color: #555;
     line-height: 20px;
     font-family: 'Oswald', sans-serif;
     margin-left: 10px;
 }



.

 /* portfolio section */
 .section-title{
        text-align: center;
        padding: 15px 20px 20px 10px;
        color: rgba(128, 0, 0, 0.877);
 }

 .section-title {
    text-align: center;
    padding: 15px 25px 20px 25px;
    color: rgba(128, 0, 0, 0.877);
    border: solid;
    margin-left: 20px;
    margin-right: 20px;
 }

 .gallery {
     border: 20px solid;
     margin-top: 10px;
     color: rgba(128, 0, 0, 0.877);
     background-color: white;
     width: 800px;
 }

 .section-title h1 {
      color: rgba(128, 0, 0, 0.877);
 }

 .apps {
     border: solid;
     border-width: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 /* the image */
 .apps a{
     display: flex;
     margin-bottom: 30px;
     border-width: 10px;
     color:white;
 }

li.screenshots {
    display: flex;
    flex-direction: row;

}
.caption {
    margin-top: 100px;
    padding: 0 0 0 15px;
}






/* resume portion */
h1.resume-pdf {
    text-align: center;
    
}

.resume-pic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer-pics {
    text-align: center;
    
}


/* contact area */
textarea {
    align-items: center;
}

#contact {
    margin-top: 40px;

}

.contact-title {
    float: left;
    align-self: center;
}

.text-me {
    margin-left: 52px;
}